<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Tasty Bagel, <%= @user.name %></h1>
    <p>
      You have successfully signed up for delicious bagels on the go!,
      your username is: <%= @user.name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and enjoy the day! Psst! Josh is a bitch.</p>
  </body>
</html>