<h3>TastyBagel Order Shipped</h3>
<p> 
  This is just a little "heads up, order is en route" email for you.
</p>

<p>
  Your order was:
</p>

<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items -%>
</table>

