/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets"; // Bootstrap functionality available when ready
@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";
@import url(http://weloveiconfonts.com/api/?family=fontelico);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* Custom Colors */
$earthgreen: #868364;
$beige: #F4F0C0;
$tan: #E2C26F;
$coffeeorange: #B7641E;
$burgandy: #69290D;



 @font-face {
font-family: 'chunkfive-webfont';
src: url('chunkfive-webfont.eot');
src: url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
     url('chunkfive-webfont.woff') format('woff'),
     url('chunkfive-webfont.ttf') format('truetype'),
     url('chunkfive-webfont.svg') format('svg');
font-weight: normal;
font-style: normal;
}



#banner {
	height: 400px;
	background-image: url('bagelback.jpg');
	background-size: 100%, cover;
	padding: 10px;
	border: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	text-align: center;

	#heading {
		font-family: 'chunkfive-webfont', sans-serif;
  	font-size: 100%;
		margin: 40px;
		padding-bottom: 0.0em;
		color: white;
		border-bottom: none;
		text-align: center;
	}

	#subheading {
		font-size: 45%;
		font-weight: bold;
		color: $burgandy;
		display: block;
		font-family: 'Verdana', sans-serif
	}

	#process {
		i {
			color: $tan;
			margin: 0px 20px;
			

			.fasubhead {
				color: $beige;
				font-family: 'chunkfive-webfont', sans-serif;
				font-size: 50%;
				margin: 10px;
				display: block;
			}
		}

		.fa-chevron-right {
			color: white;
			position: relative;
			bottom: 30px;
			font-size: 60%;
		}


		/* Grow */
		.grow {
  		display: inline-block;
  		-webkit-transition-duration: 0.3s;
  		transition-duration: 0.3s;
  		-webkit-transition-property: transform;
  		transition-property: transform;
  		-webkit-transform: translateZ(0);
  		transform: translateZ(0);
  		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		}
		
		.grow:hover, .grow:focus, .grow:active {
  		-webkit-transform: scale(1.1);
  		transform: scale(1.1);
		}
	}
	
	img {
		float: center;
	}	
}

#columns {
	background: white;

	#main {
		margin-left: 17em;
		padding: 1em;
		background: white;
	}
	
	#side {
		float: left;
		padding: 2em 2em;
		width: 18em;
		background: $earthgreen;
		
		form, div {
			display: inline;
		}
		
		input {
			font-size: small;
		}
		
		#cart {
			font-size: smaller;
			color: white;

			.cart_title { 
    		color: white;
    		font-family: 'chunkfive-webfont', sans-serif;
    		text-align: left;
				font-size: 175%;	
  		}

  		.item_price, .total_line {
  			padding: 0.5em 0.5em;
				text-align: right;
   			color: white;
			}
	
			.total_line, .total_cell {
				font-weight: bold;
				border-top: 1px solid #595;
				border-color: $beige;
			}
		
			.btn {
				margin-top: 0.5em;
				margin-right: 1em;
			}

			table {
				color: $beige;
				margin-top: 20px;
				margin-bottom: 10px;
				border-bottom: 1px solid #595;
				border-color: $beige;
			}
		}
		
		ul {
			padding: 0;
			margin-top: 40px;
			li {
				list-style: none;
				a {
					color: white;
					font-size: small;
				}
			}
		}
	}
}
		.tasty_bagel_form {
			fieldset {
				width: 400px;
				margin: 20px 0px 0px 40px;


				legend {
					font-family: 'chunkfive-webfont', sans-serif;
  				line-height: 35px;
  				font-size: 21px;
  				font-weight: 300;
  				color: #aaa;
				}
			}
		}