/* Custom Colors */
$earthgreen: #868364;
$beige: #F4F0C0;
$tan: #E2C26F;
$coffeeorange: #B7641E;
$burgandy: #69290D;


/* .login {
  background-color: $beige;
  margin-left: 2em;

  legend {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
  }

  .labeltag {
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    font-size: 85%;
  }

}
.font-group {
  display: block;
} */

.sign-up {
  position: relative;
  margin-left: 25px;
  width: 280px;
  //padding: 33px 25px 29px;
  background: white;
}


.sign-up-title {
  font-family: 'chunkfive-webfont', sans-serif;
  line-height: 35px;
  font-size: 21px;
  font-weight: 300;
  color: #aaa;
}


input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding: 0 15px 2px;
  font-size: 15px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
  border-color: $earthgreen;
  outline: none;
  -webkit-box-shadow: inset 0 -2px $earthgreen;
  box-shadow: inset 0 -2px $earthgreen;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: $tan;
  border: 0;
  border-bottom: 2px solid $burgandy;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px $burgandy;
  box-shadow: inset 0 -2px $burgandy;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}