// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Custom Colors */
$earthgreen: #868364;
$beige: #F4F0C0;
$tan: #E2C26F;
$coffeeorange: #B7641E;
$burgandy: #69290D;


.store {

	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: $earthgreen;
		border-bottom: 3px dotted #77d;
	}
	
	/* An entry in the store catalog */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;
		margin-left: 25px;
		
		img {
			width: 120px;
			height: 120px;
			margin-right: 5px;
			margin-bottom: 5px;
			position: absolute;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
		}
		
		h3 {
			font-family: 'chunkfive-webfont', sans-serif;
  		font-size: 180%;
  		//text-shadow: 1px 1px 1px #aaa;
			margin-left: 150px;
			margin-top: 0;
			margin-bottom: 2px;
			color: $coffeeorange;
				
				.price {
					font-size: 60%;
					margin-left: 20px;
					display: inline;
					color: $tan;
					font-weight: bold;
					margin-right: 3em;
				}
		}
		
		p, div.price_line {
			margin-left: 150px;
			margin-top: 1.5em;
			margin-bottom: 0.8em;
			
			form, div {
				display: inline;
			}
			
			.btn {
				color: white;
				font-family: 'chunkfive-webfont', sans-serif;
			}
		}
		
	}
}